/* h1{
    background-color:coral;
} */
.background{
    background-image: url(images/thumnail_1.png);
    height: 1000px;
    width: 1000px;
    background-repeat: no-repeat;
    background-size: 700px;
    background-attachment:scroll;
    background-position:center;
}