 nav{
    background-color: black;
    overflow: hidden;
 }
nav a{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-align: center;
    float: left;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a:hover{
    color: tomato;
}
nav a:visited{
    color: royalblue;
}